<%= render "shared/header2"%>

<div class="new-genre-main">
  <%= form_with model: @genre, local: true do |f| %>
    <div class="new-genre-form">
      <div class="new-genre-headline">
        ジャンル編集
      </div>
      <%= render 'shared/error_messages', model: f.object %> 

      <%# ラベル %>
      <div class="form-wrapper">
        <div class="weight-bold-text">
          ジャンル名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"genre-name", placeholder:"例） 肉料理 ・ サラダ" %>

      <%# ボタン %>
      <div class="genre-save-btn-wrapper">
        <%= f.submit "更新する" ,class:"genre-save-btn" %>
      </div>
    </div>
  <% end %>
</div>