<%= render "shared/header"%>

<div class="genre-index-wrapper">
  <div class="genre-index-top">
    <div class="genre-index-headline">
      ジャンル一覧 
    </div>
    <%= link_to '追加する', new_genre_path, class:"genre-index-add" %>
  </div>
  <% @genres.each do |genre| %>
    <div class="genre-index-content">
      <li><%= genre.name %></li>
      <div class="genre-icons">
        <%= link_to image_tag("edit_icon.png", class:"genre-edit-icon"), edit_genre_path(genre) %>
        <%= link_to image_tag("delete_icon.png", class:"genre-delete-icon"), genre_path(genre), method: :delete %>
      </div>
    </div>
  <% end %>
</div>