<%= render "shared/header2"%>

<%= form_with model: @user, url:"/users" , class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー情報編集
    </h1>
  </div>

  
  <%= render 'shared/error_messages', model: f.object %> 
  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"名前", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
  </div>
  
  <div class='register-btn'>
    <%= f.submit "更新する" ,class:"register-blue-btn" %>
  </div>

  <%# <div class="logout-wrapper"> %>
    <%# <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-btn" %> 
  <%# </div> %>
</div>
<% end %>


