<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("fork_knife.png", class:"header-icon"), "/" %> 
    <%= link_to image_tag("cook_note.png", class:"header-rogo"), "/" %>
  </div>

  <div id="search-form-wrapper">
    <!-- <%= search_form_for @q, url: search_dishes_path, html: {id: "name-search-form"} do |f| %>
      <div class="search-field"><%= f.text_field :dish_name_cont, placeholder: '料理名で検索' %></div>
      <div class="search-btn"><%= f.submit '検索' %></div>
    <% end %> -->
    <button id="dish-name-search">料理名で検索する</button>
    <!-- <%= search_form_for @q, url: search_dishes_path, html: {id: "material-search-form"} do |f| %>
      <div class="search-field"><%= f.text_field :materials_name_cont, placeholder: '商品名' %></div>
      <div class="search-btn"><%= f.submit '検索' %></div>
    <% end %> -->
    <button id="material-search">材料で検索する</button>
  </div>
  
  <div class='nav'>
    <div class="header-new-dish">
    <% if user_signed_in? %>
      <%= link_to image_tag("plus-btn.png", class:"puls-btn"), new_dish_path %>
    <% end %>
    </div>
    
    <ul class='header-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-name" %> </li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>