<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("fork_knife.png", class:"header-icon"), "/" %> 
    <%= link_to image_tag("cook_note.png", class:"header-rogo"), "/" %>
  </div>

  <div class='nav'>
    <% if user_signed_in? %>
      <div class="header-new-dish">
        <%= link_to image_tag("plus-btn.png", class:"puls-btn"), new_dish_path %>
      </div>
    <% end %>
    
    <ul class='header-lists'>
      <% if user_signed_in? %>
        <li id="menu">メニュー</li> 
          <ul class="show-lists hidden" id="pull-down1">
            <li class="pull-down-list"><%= link_to "Note", "/" , class:"menu-link" %></li>
            <li class="pull-down-list"><%= link_to "Album", albums_path, class:"menu-link"%></li>
          </ul>
        <li id="user-name"><%= current_user.nickname %></li>
          <ul class="user-lists hidden" id="pull-down2">
            <li class="pull-down-list"><%= link_to "編集", edit_user_registration_path, class:"menu-link" %></li>
            <li class="pull-down-list"><%= link_to "ログアウト", destroy_user_session_path, method:"delete", class:"menu-link" %></li>
          </ul>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>