<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("fork_knife.png", class:"header-icon"), "/" %> 
    <%= link_to image_tag("cook_note.png", class:"header-rogo"), "/" %>
  </div>

  <div class='nav'>
    <div class="header-new-dish">
      <%= link_to image_tag("plus-btn.png", class:"puls-btn"), new_dish_path %>
    </div>
    
    <ul class='header-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-show_link" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>