<div class="index-show-wrapper">
    <div class="index-show">
      <div class="index-show-top">
        <div class="show-dish-name">
          <%= link_to @dish.dish_name, detail_dish_path(@dish), class:'dish-detail_link' %> 
        </div>
        <div class="show-dish-url-wrapper">
          <% if @dish.url.present? %>
            <%= link_to image_tag("link.png", class:"show-dish-url"), @dish.url,  target: :_blank, rel: "noopener noreferrer"%>
          <% else %>
            <%= link_to image_tag("link.png", class:"show-dish-url"), edit_dish_path(@dish) %>
          <% end %>
        </div>
      </div>
      
    
      <div class="index-materials">
        <% if @materials.exists? %>
          <div id="materials-top">
            <div class="materials-header">
              材料
            </div>
            <div id="material-plus">
              <%= image_tag 'add.png', class:'material-plus-btn' %>
            </div>
            <div class="material-delete">
              <%= image_tag 'minus.png', class:'material-minus-btn' %>
            </div>

            <!-- <%= form_with model: [@dish, @material] , url: dish_materials_path(@dish.id), class: 'new-material-form', local: true do |f|%>
              <%= f.text_area :name, class:"material-new-name",  placeholder:"材料を追加する" %>
              <%= f.submit "追加" ,id:"material-new-btn" %>
            <% end %> -->

          </div>
          <div id="space">
            <% @materials.each do |material| %>
              <div id="material-border">
                <div id="materials-list">
                  <li class="material_li"><%= link_to material.name, search_dishes_path(q: {"materials_name_cont"=>material.name}), class:'material-search_link' %></li>
                  <%# <li class="material-d_li"><%= link_to image_tag("delete_icon.png", class:"material-delete-icon"), dish_material_path(@dish, material), class:'material-delete_link', method: :delete, data: {confirm: "#{material.name} を削除しますか？"}  %>   
                </div>
              </div>
            <% end %>
          </div>
          <div id="s"></div>
        <% else %>
          <div id="materials-top">
            <div class="materials-header">
              材料
            </div>
            <div id="material-plus">
              <%= image_tag 'add.png', class:'material-plus-btn' %>
            </div>
          </div>
          <div id="s"></div>
        <% end %>
      </div>
    </div>
  </div>