<%= render "shared/header2" %>

<!-- <%= link_to image_tag("edit_icon.png", class:"dish-edit-icon"), edit_dish_path(@dish) %>
<%= link_to image_tag("delete_icon.png", class:"dish-delete-icon"), dish_path(@dish), method: :delete, data: {confirm: "#{@dish.dish_name}を削除しますか？"}  %> -->

<div class="detail-wrapper">
  <div class="detail-top">
    <div class="detail-dish-name"><%= @dish.dish_name %></div>
    <div class="detail-url">
      <%= link_to 'レシピサイトを見る', @dish.url, class:"show-dish-url", target: :_blank, rel: "noopener noreferrer"%>
    </div>
  </div>

  <div class="detail-main">
    <div class="index-materials">
      <% if @materials.exists? %>
        <div id="materials-top">
          <div class="materials-header">
            材料
          </div>
          <div id="material-plus">
            <%= image_tag 'plus-btn.png', class:'material-plus-btn' %>
          </div>

          <!-- <%= form_with model: [@dish, @material] , url: dish_materials_path(@dish.id), class: 'new-material-form', local: true do |f|%>
            <%= f.text_area :name, class:"material-new-name",  placeholder:"材料を追加する" %>
            <%= f.submit "追加" ,class:"material-new-btn" %>
          <% end %> -->

        </div>
        <% @materials.each do |material| %>
          <div class="materials-list">
            <ul>
              <div class="material-border"><li class="index-material"><%= material.name %></li></div>
            </ul>
          </div>
        <% end %>
      <% else %>
        <div class="new-material-form-wrapper">
          <%= form_with model: [@dish, @material] , url: dish_materials_path(@dish.id), class: 'new-material-form', local: true do |f|%>
            <%= f.text_area :name, class:"material-new-name",  placeholder:"材料を追加する" %>
            <%= f.submit "追加" ,class:"material-new-btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>