<%= render "shared/header2" %>

<div class="detail-wrapper">
  <div class="detail-top">
    <div class="detail-dish-name"><%= @dish.dish_name %></div>
    <div class="dish-edit"><%= link_to '編集', edit_dish_path(@dish), class:'dish-edit_link' %></div>
    <div class="detail-dish-url-wrap">
      <% if @dish.url.present? %>
        <%= link_to image_tag("link.png", class:"detail-dish-url"), @dish.url,  target: :_blank, rel: "noopener noreferrer"%>
      <% else %>
        <%= link_to image_tag("link.png", class:"detail-dish-url"), edit_dish_path(@dish) %>
      <% end %>
    </div>
  </div>
  <div class="detail-main">
  </div>
</div>