<%= render "shared/header"%>

<div class="index-wrapper">
  <%# サイドバー %>
  <div class="index-sidebar">
    <div class="sidebar-top"><%= link_to 'ジャンル編集', genres_path, class:"visit-genre-index" %></div>
    <div class="sidebar-genre-wrapper">
        <li class="sidebar-genre_li"><%= link_to 'すべて', dishes_path, class:'sidebar-genre'%></ul>
        <% @genres.each do |genre| %>
          <li class="sidebar-genre_li"><%= link_to genre.name, genre_index_dish_path(genre.id), class:'sidebar-genre' %>
        <% end %>
    </div>
  </div>

 <%# 一覧 %>
  <div class="index-main">
    <div class="main-genre">
      <%= @genre.name %>
      <div class="dishes-count"><%= "（ #{@dishes.count} ）" %></div>
    </div>
    <div class="main-dish-wrapper">
      <% @dishes.each do |dish| %>
        <ul>
          <li class="main-dish_li"><%= link_to dish.dish_name, genre_show_dish_path(dish.id), class:'main-dish' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>