<%# ヘッダー %>
<%= render "shared/header"%>

<div class="index-wrapper">
  <%# サイドバー %>
  <%= render "shared/sidebar" %>

  <%# 一覧 %>
  <div class="index-main-wrapper">
    <div class="index-main">
      <div class="main-genre">
        <%= @genre.name %>
        <div class="dishes-count"><%= "（ #{@dishes.count} ）" %></div>
      </div>
      <div class="main-dish-wrapper">
        <% @dishes.each do |dish| %>
          <ul>
            <div class="dish-border"><li class="main-dish_li"><%= link_to dish.dish_name, genre_show_dish_path(dish.id), class:'main-dish' %></li></div>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <%# 詳細 %>
  <%= render "shared/show" %>
  
</div>