<%= render "shared/header"%>

<div class="index-wrapper">
  <%# サイドバー %>
  <div class="index-sidebar">
    <div class="sidebar-genre-wrapper">
        <li class="sidebar-genre_li"><%= link_to 'すべて', dishes_path, class:'sidebar-genre'%></ul>
        <% @genres.each do |genre| %>
          <li class="sidebar-genre_li"><%= link_to genre.name, dishes_path(id: genre.id), class:'sidebar-genre' %>
        <% end %>
    </div>
  </div>

  <%# 一覧 %>
  <div class="index-main">
    <div class="main-genre">
      <% if @genre.present? %>
        <%= @genre.name %>
      <% else %>
        <%= "すべて" %>
      <% end %>
    </div>
    <div class="main-dish-wrapper">
      <% @dishes.each do |dish| %>
        <% if @genre.present? %>
        <ul>
          <li class="main-dish_li"><%= link_to dish.dish_name, dishes_path(dish_id: dish.id, id: dish.genre_id), class:'main-dish' %></li>
        </ul>
        <% else %>
        <ul>
          <li class="main-dish_li"><%= link_to dish.dish_name, dishes_path(dish_id: dish.id), class:'main-dish' %></li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# 詳細 %>
  <div class="index-show">
    <% if @dish.present? %>
      <div class="show-dish-name">
        <%= @dish.dish_name %>
      </div>
      <div class="show-dish-url-wrapper">
        <%= link_to 'レシピページを見る', @dish.url, class:"show-dish-url", target: :_blank, rel: "noopener noreferrer"%>
      <div class="show-memo-wrapper">
        <%= simple_format(@dish.memo) %>
      </div>
    <% end %>
  </div>
</div>