<%# ヘッダー %>
<%= render "shared/header"%>

<div class="index-wrapper">

  <%# サイドバー %>
  <%= render "sidebar" %>

  <%# 一覧 %>
  <div class="index-main-wrapper">
    <div class="index-main">
      <div class="main-genre">
        <% if params[:q][:dish_name_cont].present? %>
          <%= params[:q][:dish_name_cont] %><q> &nbsp; の検索結果</q>
        <% else %>
          <%= params[:q][:materials_name_cont] %><q> &nbsp; を使った料理</q>
        <% end %>
      </div>
      <div class="main-dish-wrapper">
        <% @dishes.each do |dish| %>
          <ul>
            <div class="dish-border"><li class="main-dish_li"><%= link_to dish.dish_name, search_show_dish_path(dish.id, q: params[:q].permit!), class:'main-dish' %></li></div>
          </ul> 
        <% end %>
      </div>
    </div>
  </div>
  
</div>